.section-container {
    margin: 5% auto;
    border-radius: 8px;
    padding: 10px;
    width: 80%;
    background-color: #fff;
}

h4.section-header {
    margin: 10px auto;
    color: #2b2d42;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.problem-item {
    margin: 0 auto;
    padding: 0 0 15px 0;
    width: 90%;
    color: #fff;
    font-size: .8em;
    line-height: 1.7em;
}

.name-and-grade {
    border-bottom: 4px solid #8d99ae;
    border-radius: 8px;
    padding: 15px 8px;
    width: 100%;
    background-color: #2b2d42;
    color: #fff;
    font-weight: 700;
    letter-spacing: 1px;
}

.name-and-grade:hover {
    border-bottom: 4px solid #d90429;
}

.expanding-container {
    margin: -5px 0 0 0;
    border-radius: 0 0 4px 4px;
    padding: 10px;
    background-color: #2b2d42;
}

.details-container {
    padding: 10px;
}

.detail {
    margin: 0 0 8px 0;
}

.line-break {
    white-space: pre-line;
}

.problem-icons-container {
    padding-top: 10px;
    text-align: center;
}

.problem-icons-container a, .problem-icons-container button {
    color: #fff;
    font-size: 1.2em;
}

.problem-icons-container a:hover, .problem-icons-container button:hover {
    color: #d90429;
}

@media (min-width: 768px) {
    .section-container {
        margin: 3% auto;
        width: 60%;
    }
    .problem-icons-container a, .problem-icons-container button {
        font-size: 1.4em;
    }
}

@media (min-width: 1200px) {
    .section-container {
        margin: 2% auto;
        width: 40%;
    }
}