h2 {
    color: #2b2d42;
    font-size: 1.4em;
    text-transform: uppercase;
}

.landing-page {
    align-self: center;
    text-align: center;
}

.landing-page p {
    padding-top: 10px;
    color: #2b2d42;
    font-size: 1em;
    line-height: 1.3em;
}

p.about {
    padding-bottom: 10px;
}

.directions-container {
    border-top: 1px solid #ef233c;
    font-size: .9em;
}