h2.landing-page {
    font-size: 1.4em;
    padding: 5px 0px;
    text-transform: uppercase;
}

.landing-page {
    background: #fff;
    margin-top: 20%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    padding: 20px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-self: center;
    text-align: center;
}

.landing-page p {
    padding: 10px 0;
    font-size: 1em;
    line-height: 1.3em;
    font-family: 'Comfortaa', cursive;
    color: #457b9d;
}

.landing-page-directions {
    border-top: 1px solid #457b9d; 
    font-size: .9em;
}