header {
    background-color: #457b9d;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 2em;
}

.logo {
    color: #1d3557;
    text-decoration: none;
    text-transform: uppercase;
}

nav a {
    color: #a8dadc;
    text-transform: lowercase;
    text-decoration: none;
}

.hyph {
    color: #a8dadc;
}

@media (min-width: 768px) {
    /* header {
    justify-content: space-between
}

nav {
    align-self: center
} */
}